<div style="margin-top:5vh;"class="container text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    <div class="flex justify-center">
       
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <div class="p-5 max-w-21 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                All Employees
            </div>

            <div class="form-control mt-5">
                <div class="box">
                    <input type="text" [(ngModel)]="term" placeholder="Search…" class="input input-bordered max-w-s" />
               </div>
            </div>

            <table style="width:100%;" class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-5">
                <thead class="text-xs text-gray-50 uppercase bg-sky-800 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" style="" class=" py-3 px-6">Employees ID</th>
                        <th scope="col" style="" class=" py-3 px-6">Full Name</th>
                        <th scope="col" style="" class=" py-3 px-6">Hire Date</th>
                        <th scope="col" style="" class=" py-3 px-6">Job Type</th>
                        <th scope="col" style="" class=" py-3 px-6">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i Of empList | filter: term" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"> 
                        <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{i.emp_id}}</th>
                        <td class="py-4 px-6" >{{i.last_name }}  {{i.first_name }}</td>
                        <td class="py-4 px-6">{{i.hiredate | date: 'dd MMM YYYY'}}</td>
                        <td class="py-4 px-6">{{i.dept_name }}</td>
                        <td class="py-4 px-6"><span [class]="'product-badge status-'">{{i.status }}</span></td>
                    </tr>
                </tbody>
                <tfoot >
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th  scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Total: {{empList.length}}  employees.
                        </th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <ngx-loading
    [show]="loading"
    [config]="{
      animationType: ngxLoadingAnimationTypes.circleSwish,
      primaryColour: '#ffffff', secondaryColour: '#ffffff',
      backdropBorderRadius: '3px'
    }">
    </ngx-loading>
</div>

