figure, img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vh;
    width: 100%;
}
.container{
    margin-bottom: 7vh;
}

@media screen and (min-width: 1024px){
    .fixed{
        width: 80vw;
    }
}