<div class="container mx-auto" style="margin-top:10vh;">
    <div class="flex justify-center"  style="margin-bottom: 15vh; ">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div class="card w-96 bg-base-100 shadow-xl image-full" *ngFor="let admins of admin">
                <figure><img src="../../../../assets/business.jpg" alt="adminstratio" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{{admins.dept_name}}</h2>
                    <div class="card-actions justify-end">
                        <div class="numbers">
                            <p class="card-title">{{admins.total}}<p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl image-full" *ngFor="let finces of finace">
                <figure><img src="../../../../assets/finance.jpeg" alt="finacial" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{{finces.dept_name}}</h2>
                    <div class="card-actions justify-end">
                        <div class="numbers">
                            <p class="card-title">{{finces.total}}<p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl image-full" *ngFor="let hrs of hr">
                <figure><img src="../../../../assets/hr.jpeg"alt="Hr" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{{hrs.dept_name}}</h2>
                    <div class="card-actions justify-end">
                        <div class="numbers">
                            <p class="card-title">{{hrs.total}}<p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl image-full" *ngFor="let i of it">
                <figure><img src="../../../../assets/IT.jpeg" alt="It" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{{i.dept_name}}</h2>
                    <div class="card-actions justify-end">
                        <div class="numbers">
                            <p class="card-title">{{i.total}}<p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-96 bg-base-100 shadow-xl image-full" *ngFor="let markets of market">
                <figure><img src="../../../../assets/marketing.jpeg" alt="Shoes" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{{markets.dept_name}}</h2>
                    <div class="card-actions justify-end">
                        <div class="numbers">
                            <p class="card-title">{{markets.total}}<p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="fixed bottom-0 w-full" style="overflow: hidden; z-index:-1;">
        <app-footer></app-footer>
    </div>

    <ngx-loading
    [show]="loading"
    [config]="{
      animationType: ngxLoadingAnimationTypes.circleSwish,
      primaryColour: '#ffffff', secondaryColour: '#ffffff',
      backdropBorderRadius: '3px'
    }">
    </ngx-loading>
</div>

