td .p-button-rounded {
    width:40px; 
    height:40px;
    margin-left: 10px;
}
a{
    margin-left: 12px;
}

.btn-danger{
    background-color: red;
}
.btn-danger:hover{
    background-color: red;
}
.invalid-feedback{
    color: red;
}
.is-invalid{
    border-color: red;
}