 <p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="overflow-x-auto list sm:rounded-lg">
    <div class="p-2 max-w-21 text-lg font-semibold text-left text-gray-900 ">
        Current Employee List
     </div>
        
    <div class="form-control mt-5">    
        <div class="box ml-2">
            <input type="text"  [(ngModel)]="term" placeholder="Search…" class="input input-bordered max-w-s" />
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success float-right mr-2" (click)="openNew()"></button>
        </div>
    </div>
</div>

<div class="container justify-center" style="margin-top:5vh;">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6" >
        <div class="card card-side bg-base-100 shadow-xl" *ngFor="let i of emp | filter: term">
            <figure><img src="../../../../assets/empty-profile.png" alt="User"></figure>
            <div class="flex justify-end">
                <div class="card-body">
                    <h4 class="card-title"> {{i.first_name }} {{i.last_name }}</h4>
                    <p>{{i.email }}</p>
                    <p>Contacts: {{i.phone_number }}</p>
                    <p>Start: {{i.hiredate | date: 'dd MMM YYYY'}}</p>
                    <p>Salary: R{{i.salary }}</p>
                    <p>Job Type: {{i.dept_name }}</p>
                    <div class="card-actions justify-end">
                       <!-- <button pButton pRipple icon="pi pi-eye"  (click)="viewUser(i)" class="p-button-rounded p-button-primary" ></button> -->
                        <button pButton pRipple icon="pi pi-pencil"  (click)="editProduct(i)" class="p-button-rounded p-button-warning" ></button>
                        <button pButton pRipple icon="pi pi-trash" (click)="deleteProduct(i)" class="p-button-rounded p-button-danger" ></button>
                    </div>
                </div>
               
            </div>
        </div>
        
    </div>
    <div  >

    </div>
    
    <div class="bottom-0 mt-5">
        <app-footer></app-footer>
    </div>

    <ngx-loading
    [show]="loading"
    [config]="{
      animationType: ngxLoadingAnimationTypes.circleSwish,
      primaryColour: '#ffffff', secondaryColour: '#ffffff',
      backdropBorderRadius: '3px'
    }">
    </ngx-loading>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Employee Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <div class="field col mb-2">
                <label class="label"><span class="label-text">First Name</span></label>
                <input (keypress)="keyPressAlphanumeric($event)"  placeholder="First Name" type="text" pInputText id="first_name" [(ngModel)]="empList.first_name" class="input input-bordered w-full max-w-s first_name " required autofocus />
                <small class="invalid-feedback" *ngIf="submitted && !empList.first_name">First Name is required.</small>
            </div>

            <div class="field col mb-2">
                <label class="label"><span class="label-text">Last Name</span></label>
                <input (keypress)="keyPressAlphanumeric($event)" type="text" placeholder="Last Name" pInputText id="last_name" [(ngModel)]="empList.last_name" class="input input-bordered w-full max-w-s last_name " required autofocus />
                <small class="invalid-feedback" *ngIf="submitted && !empList.last_name">Last Name is required.</small>
            </div>

            <div class="field col mb-2">
                <label class="label"><span class="label-text">Phone Number</span></label>
                <p-inputMask mask="(999) 999-9999" [(ngModel)]="empList.phone_number" placeholder="(999) 999-9999"></p-inputMask>
                <small class="invalid-feedback" *ngIf="submitted && !empList.phone_number">Phone Number is required.</small>
            </div>


            <div class="field col mb-2">
                <label class="label"><span class="label-text">Salary</span></label>
                <p-inputNumber id="price" [(ngModel)]="empList.salary" placeholder="Salary" mode="currency" currency="ZAR" locale="en-SA"></p-inputNumber>
                <small class="invalid-feedback" *ngIf="submitted && !empList.salary">Salary is required.</small>
            </div>

            <div class="field col mb-2">
                <label class="label"><span class="label-text">Job Type</span></label>
                <select [(ngModel)]="empList.dept_id" class="input input-bordered w-full max-w-s department " placeholder="Select department">
                <option value disabled selected hidden>Select Role...</option>
                <option value="1">Administration</option>
                <option value="2">Marketing</option>
                <option value="3">Finance</option>
                <option value="4">IT Department</option>
                <option value="5">Human Resource</option>
                </select>
                <small class="invalid-feedback" *ngIf="submitted && !empList.dept_id">Job Type is required.</small>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" (click)="hideDialog()" icon="pi pi-times" class="p-button-text" ></button>
            <button pButton pRipple label="Save" (click)="saveEmployee()" icon="pi pi-check" class="p-button-text" ></button>
        </ng-template>
</p-dialog> 

<!--
<p-dialog [(visible)]="ViewDialog" [style]="{width: '450px'}" header="Employee Details" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="field col mb-2">
            <label class="label"><span class="label-text">First Name</span></label>
            <input (keypress)="keyPressAlphanumeric($event)"  placeholder="First Name" type="text" pInputText id="first_name" [(ngModel)]="empList.first_name" class="input input-bordered w-full max-w-s first_name " required autofocus />
            <small class="invalid-feedback" *ngIf="submitted && !empList.first_name">First Name is required.</small>
        </div>



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Dismiss" (click)="hideDialog()" icon="pi pi-times" class="p-button-text" ></button>
       </ng-template>
</p-dialog> -->