<div class="container-fluid">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost normal-case text-xl" id="logo">EMPLOYEE RECORD SYSTEM</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li class="user" *ngIf="!this.auth.isLoggedIn" routerLink="/auth/login"><a class="log">Login</a></li>
        <li class="user" *ngIf="!this.auth.isLoggedIn" routerLink="/auth/register"><a >Register</a></li>
      </ul>
    </div>
  </div>
</div>

