
.fa-solid{
    color: #D27C2C;
}

li a:hover{
    text-decoration: none;
}

.container-fluid{
    background-color: whitesmoke;
}
.container-fluid .navbar{
    height: 1vh;
}

.fill-current{
    position: absolute;
    left: 40px; 
    top:20px;
}
#logo{
    font-size: 0.5em;
}
