.logout{
    cursor: pointer;
}
ul a {
   margin-left: 10px;
}
ul li:hover{
   
    text-decoration: underline;
}
.menu{
    color: white;
 
}
.navbar{
    position: fixed;
    overflow: hidden;
    top: 0;
}