.logout{
    cursor: pointer;
}
ul a {
    margin-left: 10px;
    border: none;
    color: white;
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul li:hover{
    text-decoration: underline;
}
.menu{
    color: white;
}
.navbar{
    position: fixed;
    overflow: hidden;
    top: 0;
}
#logo{
    margin-left: -12px;
}

